@{
    ViewBag.Title = "Index";
}

  <div class="wrapper">
	<div class="feature_wrapper">
        <span class="col_feature"> 
          <h3>Featured  Business Listings: <span class="state">Massachusetts: <span class="amount">(6)</span> Cape Cod & Islands</span></h3>
            <div class="tab_wrapper">
                <div class="ad_feature">
                 <div class="logo">
                  <img src="../Images/logos/logo_featured_temp01.png" style="height: 105px; width: 155px;">
                 </div>
                 <div class="details">
                   <a class="button" href="#">Details</a>
                 </div>  
                </div>
                <div class="ad_feature">
                 <div class="logo">
                  <img src="../Images/logos/logo_featured_temp02.png" style="height: 105px; width: 155px;">
                 </div>
                 <div class="details">
                   <a class="button" href="#">Details</a>
                 </div>  
                </div>		
                <div class="ad_feature">
                 <div class="logo">
                  <img src="../Images/logos/logo_featured_temp03.png" style="height: 105px; width: 155px;">
                 </div>
                 <div class="details">
                   <a class="button" href="#">Details</a>
                 </div>   
                </div>
                <div class="ad_feature">
                 <div class="logo">
                  <img src="../Images/logos/logo_featured_temp04.png" style="height: 105px; width: 155px;">
                 </div>
                 <div class="details">
                   <a class="button" href="#">Details</a>
                 </div>   				    
              </div>
            </div>  
        </span>   
	<span class="col_main">
			<h3>Search Results: <span class="state">Massachusetts: <span class="amount">(6)</span> Cape Cod &amp; Islands</span></h3>
			<div class="tab_wrapper">
		      	    <ul class="tabs">
				      <li class="active"><a href="#tab1">List View</a></li>
				      <li class=""><a href="#tab2">Photo View</a></li>
					  <li class=""><a href="#tab3">Map View</a></li>
				      <li class=""><a href="#tab4">My Favorites</a></li>
				    </ul>

					<div class="tab_content" id="tab1" style="display: block;">
					    <div class="tab_navs">
					    	<select name="Auto">
							<option value="Auto">Auto</option>
							<option value="Option1">Option 1</option>
							<option value="Option2">Option 2</option>
							</select>
							
							<select name="Restaurants">
							<option value="Restaurants">Restaurants</option>
							<option value="Option1">Option 1</option>
							<option value="Option2">Option 2</option>
							</select>
							
							<select name="Services">
							<option value="Services">Services</option>
							<option value="Option1">Option 1</option>
							<option value="Option2">Option 2</option>
							</select>
							
							<select name="Health">
							<option value="Health">Health</option>
							<option value="Option1">Option 1</option>
							<option value="Option2">Option 2</option>
							</select>
							
							<select name="Home">
							<option value="Home">Home &amp; Office</option>
							<option value="Option1">Option 1</option>
							<option value="Option2">Option 2</option>
							</select>
							
							<select name="More">
							<option value="More">More</option>
							<option value="Option1">Option 1</option>
							<option value="Option2">Option 2</option>
							</select>
						    </div>
				        @Html.Action("BusinessInTile", "Business")
				    </div>
				   
				    <div class="tab_content" id="tab2" style="display: none;">
					   	   <div class="tab_navs">
						    	<select name="Auto">
								<option value="Auto">Auto</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Restaurants">
								<option value="Restaurants">Restaurants</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Services">
								<option value="Services">Services</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Health">
								<option value="Health">Health</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Home">
								<option value="Home">Home &amp; Office</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="More">
								<option value="More">More</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>
						    </div>
				        @Html.Action("BusinessInTile", "Business")
				    </div>
				 
				    <div class="tab_content" id="tab3" style="display: none;">
					   	   <div class="tab_navs">
						    	<select name="Auto">
								<option value="Auto">Auto</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Restaurants">
								<option value="Restaurants">Restaurants</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Services">
								<option value="Services">Services</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Health">
								<option value="Health">Health</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Home">
								<option value="Home">Home &amp; Office</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="More">
								<option value="More">More</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>
						    </div>
				       Content of Map View
				    </div>
				
				    <div class="tab_content" id="tab4" style="display: none;">
					   	   <div class="tab_navs">
						    	<select name="Auto">
								<option value="Auto">Auto</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Restaurants">
								<option value="Restaurants">Restaurants</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Services">
								<option value="Services">Services</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Health">
								<option value="Health">Health</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="Home">
								<option value="Home">Home &amp; Office</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>

								<select name="More">
								<option value="More">More</option>
								<option value="Option1">Option 1</option>
								<option value="Option2">Option 2</option>
								</select>
						    </div>
				       Content of My Favorites
			        </div>
	     </div>
	  </span>
    </div>
 </div>	

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">

        $(document).ready(function () {

            $(".tab_content").hide();

            $("ul.tabs li:first").addClass("active").show();

            $(".tab_content:first").show();

            $("ul.tabs li").click(function () {

                $("ul.tabs li").removeClass("active");

                $(this).addClass("active");

                $(".tab_content").hide();


                var activeTab = $(this).find("a").attr("href");

                $(activeTab).show();
                return false;
            });
        });
    </script> 
}