<!DOCTYPE html>
<html class="no-js ie9 ie" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - AdvertisedOn Application Version 1</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body>
        <header>
	        <div class="log_on">
		        <div class="log">
			        <a href="#" class="first">Customer Logon</a>
			        <a href="#">Business Logon</a>
		        </div>
		        <div class="advertise"><a href="#">Advertise Your Business</a></div>
	        </div>
	        <div class="navs_top">
		        <ul>
		            <li><a href="#">How it Works</a></li>
		            <li><a href="#">Business Owners</a></li>
		            <li><a href="#">Community</a></li>
		            <li><a style="border-right: none; padding:0 0 0 10px;" href="#">Help</a></li>
		         </ul>
	        </div>
	        <div class="search">
                @using (Ajax.BeginForm(
                    new AjaxOptions
                    {
                        HttpMethod = "get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "businessList"
                    }))
                {
                    <input type="search" autosave="unique" placeholder="Search by State/City/Town/Zip Code or Keyword" name="searchTerm" results="5">
		            <button> Search </button>
                }
		       @* <form>
		            <input type="search" autosave="unique" placeholder="Search by State/City/Town/Zip Code or Keyword" name="s" results="5">
		            <button> Search </button>
		        </form>*@
	        </div>	
        </header>

        @RenderBody()

        <footer>
		    <div class="footer_image">Footer Image</div>
		    <ul>
		        <li><a href="#">Terms of Use</a></li>
		        <li><a href="#">Privacy Policy</a></li>
		        <li><a href="#">Site Map</a></li>
		        <li><a style="border-right: none; padding:0 0 0 10px;" href="#">Help</a></li>
		    </ul>
		    Copyright © 2012 AdvertisedOn All Rights Reserved
	    </footer>	
    </body>
  	      
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</html>

